.hero__section {
  background-color: #CCB2A3;
  padding: 100px 0;
  position: relative;
 
  .hero__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .circles {
      position: absolute;
      top: 136%;
      left: 50%;
      font-size: 13px;
      i {
        color: #c6c8cc;
        margin-right: 5px;
        cursor: pointer;
      }
      .active {
        color: #FF9619;
      }
    }
    .hero__left {
      h2 {
        font-size: 45px;
        color: white;
        font-weight: 600;
        width: 250px;
        span {
          color: #FF9619;
        }
        margin-bottom: 60px;
      }
      a {
        color: white;
        background-color: #FF9619;
        padding: 15px 20px;
        text-transform: uppercase;
      }
    }
    .hero__right {
h3 {
  color: white;
  font-size: 20px;
  position:absolute;
  top: 5%;
  right: 5%;
  text-align: right;
}
img {
  position: absolute;
  top: 12%;
  left: 30%;
}
    }
  }
}

@media (max-width: 1245px) {
  .hero__section {
    .hero__box {
      .hero__right {
        img {
          width: 700px;
          
        }
        h3 {
          right: 15%;
        }
      }
      .hero__left {
        margin-right: 25px;
      }
      .circles {
        position: absolute;
        top: 116%;
        left: 50%;
        font-size: 13px;
      
        
      }
    }
  }
}

@media (max-width:1050px) {
  .hero__section {
    .hero__box {
      .hero__right {
        img {
          width: 500px;
          left: 40%;
        }
        h3 {
          right: 15%;
        }
      }
      .hero__left {
        margin-right: 25px;
      }
      .circles {
        position: absolute;
        top: 106%;
        left: 50%;
        font-size: 13px;
      
        
      }
    }
  }
}

@media (max-width:900px) {
  .hero__section {
    z-index: -1;
    .hero__box {
      .hero__right {
        img {
          width: 450px;
          left: 34%;
        }
        h3 {
          right: 15%;
        }
      }
      .hero__left {
        margin-right: 25px;
        h2 {
          font-size: 30px;
        }
        a {
          padding: 10px 14px;
        }
      }
      .circles {
        position: absolute;
        top: 105%;
        left: 50%;
        font-size: 9px;
        
        
      }
    }
  }
}

@media (max-width: 680px) {
  .hero__section {
    .hero__box {
      gap: 20px;
      flex-direction: column-reverse;
      .hero__right {
        img {
          top: 85%;
          left: 0;
          width: 100%;
        }
      }
      .circles {
        position: absolute;
        top: 160%;
        left: 50%;
        font-size: 9px;
       
      }
    }
  }
}

@media (max-width: 440px) {
  .hero__section {
    .hero__box {
      gap: 20px;
      flex-direction: column-reverse;
      .hero__right {
        img {
          top: 85%;
          left: 0;
          width: 100%;
        }
      }
      .circles {
        position: absolute;
        top: 150%;
        left: 50%;
        font-size: 9px;
       
      }
    }
  }
}